PARSE_APPLICATION_ID_KEY = "r7EqA8YMRx0ew2OaE2ebKZnErKWdJgmR1hBtQBAQ"
PARSE_CLIENT_KEY = "tIWDqmLYrdcquuzznkZS9iJ5CqX8ieOYZhhT4bnz"

GLOBAL_CONSTANTS = PARSE_CLIENT_KEY="$(PARSE_CLIENT_KEY)" PARSE_APPLICATION_ID_KEY="$(PARSE_APPLICATION_ID_KEY)"

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(GLOBAL_CONSTANTS)

//COOL_FLAG = -D'COOL_FLAG'
//SECOND_FLAG = -D'SECOND_FLAG'

//OTHER_SWIFT_FLAGS = $(COOL_FLAG) $(SECOND_FLAG)