<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BackendServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RateMySnack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7FE2602A1B5B60E100F3288C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE260311B5B610A00F3288C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FE260451B5B610A00F3288C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C47368671B50458400E97743</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C473687C1B50458400E97743</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
